.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video {
  width: 19.2%;
  height: auto;
  margin-bottom: 3em;
  /* background-color: #d1d1d14b; */
  /* box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53); */
  border-radius: 5px;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.video:hover {
  transform: scale(1.02);
}

.titleCon {
  padding: 1.5% 0;
  display: flex;
}

.title {
  height: 2.4rem;
  line-height: 1.2rem;
  letter-spacing: -0.05rem;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1%;
  overflow: hidden;
}

.channelImg {
  width: 30px;
  height: 30px;
  margin: 5px 15px 5px 0px;
}

.channelName {
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #555;
}

@media screen and (max-width: 1400px) {
  .video {
    width: 23%;
  }
}
@media screen and (max-width: 960px) {
  .video {
    width: 48%;
  }
}
@media screen and (max-width: 670px) {
  .video {
    width: 100%;
  }
}

.list {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
}

.listImg {
  width: 40%;
}

.listTitle {
  width: 60%;
  margin-left: 1em;
}

.listTitle img {
  display: none;
}
