header {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
  border-bottom: 1px solid #ccc;
  z-index: 100;
}

nav {
  width: 100%;
  padding: 1em 3em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 200px;
  display: flex;
}
.logo img {
  width: 40px;
  margin-right: 0.5em;
}
.logo h1 {
  line-height: 2rem;
  font-size: 2rem;
  letter-spacing: -0.05rem;
}

.rightMenu ul {
  width: 20%;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
}

.rightMenu ul > li {
  font-size: 1.3rem;
  line-height: 35px;
  color: #222;
  cursor: pointer;
}
