ul.items {
  padding: 2em 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
li.item {
  width: 19.2%;
  height: auto;
  padding-bottom: 1em;
  margin-bottom: 3em;
  background-color: #d1d1d14b;
  border-radius: 5px;
}
.title {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 3% 5%;
  display: block;
}
.channel {
  font-size: 0.9rem;
  padding: 5%;
  color: #444;
}
