* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

ul,
li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 1.5em 1.5em;
  display: flex;
  flex-wrap: wrap;
}
